

/* header */



header .container{
    /* background-color: darkslategray; */
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    

}
header .logo h2{
    color: orange;
    margin-left: 30px;
    font-family: var(--nunito);
    font-size: 40px;
    
}

header nav ul{
    padding: 10px 20px;
    font-family: var(--heebo);
    
}
header nav ul li a{
    padding: 0 10px;
    color: white;
    font-family: var(--nunito);
    
}
header nav ul + a{
    background-color:  orange;
    margin:  8px 0px;
    color: white;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 5px;
    
}
header nav ul li a:hover{
    color: orange;
    transition: 0.5s;

}
header nav ul + a:hover{
    background-color:  rgb(235, 75, 7)
}

header nav ul li:first-child a{
    color: orange;
}

header nav + div.menu-icon{
    display: none;
    color: white;
    text-align: center;
    padding: 0 15PX ;
}
header nav + div.menu-icon i::before{
    padding: 5px 10px;
    border: 1px solid white;
}

/* main */

main .container{
    background-image: linear-gradient(90deg,rgba(24, 204, 198, 1) 0%, rgba(15, 23, 43, 0.89) 0%),url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
    padding: 96px 0;
    
}

main .main-content h2{
    margin-bottom: 8px;
    font-size: 64px;
    line-height: 1.2;
    font-weight: 800;
    font-family: var(--nunito);
    padding-left: 10px;
    color: white;

}
main .main-content p{
    margin-bottom: 24px;
    padding-bottom: 8px;
    font-size: 16px;
    font-family: var(--heebo);
    padding-left: 10px;
    color: white;
}
main .main-content a{
    padding: 16px 48px;
    background-color: orange;
    color: white;
    border-radius: 8px;
    margin-left: 10px;
    font-family: var(--nunito);
}

main .main-pic{
    margin-top: 30px;
    transform: rotate(360deg);
    overflow: hidden;
    /* animation: 50s; */
}
main .main-pic img{
        animation: mymove 10s linear infinite;

}
@keyframes mymove {
100%{
    transform: rotate(360deg);
}    
}
     

/* section */
section .container{
        /* background: rgb(249, 247, 247); */
        margin-bottom: 50px;

}

section .service-card{
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    background: rgb(255, 255, 255); 
}
section .service-card:hover{
    background-color: orange;
    transform: 0.5s;
}

section .service-card i{
    color: orange;
    margin-bottom: 8px;
    transform: 0.5s;
    
}

section .service-card h5{
    font-size: 20px;
    font-weight: 900;
    font-family: var(--nunito);
    margin-bottom: 8px;
    transform: 0.5s;
    
}
section .service-card p{
    font-size: 16px;
    font-family: var(--heebo);
    margin-bottom: 16px;
    transform: 0.5s;
    
}
section .service-card:hover i,
section .service-card:hover h5,
section .service-card:hover p{
    color: white;
}


/* #### about #### */

.about .about-img img{
    padding: 5px;
    
}
.about .about-img  #about-img2{
    width: 75%;
    padding-top: 25%;
    
    
    
}
.about .about-img  #about-img3{
    padding-left: 90px;
}

.about .about-info{
    text-align: left;
    margin-top: 48px;
    padding: 0 24px;
}
.about .about-info h4{
    margin-bottom: 8px;
    font-size: 24px;
    color: orange;
    position: relative;
    font-family: var(--pacifico);
    display: inline-block;
    
}
.about .about-info h4::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: orange;
    top: 20px;
    right: -55px;


}


.about .about-info h2{
    margin-bottom: 24px;
    font-size: 40px;
    font-family: var(--nunito);
}
.about .about-info h2 i{
    color: orange;
}


.about .about-info p{
    margin-bottom: 24px;
    font-size: 16px;
    color: gray;
    font-family: var(--heebo);
}

.about .about-info .exp{
    margin-top: 50px;
}

.about .about-info .exp ul li{
    font-size: 48px;
    padding: 10px;
    color: orange;
    font-weight: 700;
    font-family: var(--nunito);
    margin-right:  10px;
    border-left: 5px solid orange;
}





.about .about-info .exp ul p{
    font-size: 16px;
    margin-top: 18px;
    font-family: var(--heebo);
    

}
.about .about-info .exp ul p span{
    font-size: 18px;
    color: black;
    font-family: var(--nunito);
    font-weight: 500;
    
}
.about .about-info .exp a{
    background-color: orange;
    padding: 16px 48px;
    margin-top: 8px;
    color: white;
    font-size: 16px;
    font-family: var(--nunito);
}

/* #### menu #### */
.menu .container{
    /* height: 800px; */
    /* width: 100%; */
    /* background-color: white; */
    text-align: center;
    margin-top: 50px;
    

}
.menu .container h5{
    font-family: var(--pacifico);
    font-size: 20px;
    color: orange;
    position: relative;
    display: inline-block;
}

.menu .container h5::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 45px;
    background-color: orange;
    top: 20px;
    left: -55px;
    /* right: ; */
}
.menu .container h5::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 45px;
    background-color: orange;
    top: 20px;
     
    right: -55px;

}
.menu .container p{
    font-size: 40px;
    font-family: var(--nunito);
    font-weight: 600;
    
}
.menu .menu-nav{
    display: inline-flex;
    margin-top: 20px;
    padding-bottom: 15px;

}
.menu .menu-nav .food > div{
    border-bottom: 2px solid gray;
}
.menu .menu-nav #two{
    border-bottom: 3px solid orange;
}


.menu .menu-nav i{
    color: orange;
    margin: 0 16px;
    font-size: 45px;
}
.menu .menu-nav span{
    font-size: 14px;
    font-family: var(--heebo);
    text-align: justify;
}
.menu .menu-nav p{
    font-size: 16px;
    font-family: var(--nunito);
    text-align: justify;

}
.menu .menu-nav .food{
    padding:  0 16px;
}

.menu .chart .list .item{
    border-bottom: 1px solid gray;
    margin-top: 8px;
}

.menu .chart img{
    height: 80px;
    width: 80px;
    margin-top: 50px;
}

.menu .chart .list .item{
    text-align: center;
    margin: -60px 100px;
    


    
}
.menu .chart .list .item .name{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 800;
    font-family: var(--nunito);
    

}
.menu .chart .list .item .price{
    font-size: 20px;
    color: orange;
    font-weight: 900;
        font-family: var(--nunito);

}
.menu .chart .list p{
    font-size: 12px;
    margin-top: 62px;
    margin-right: 100px;
    color: gray;
    font-family: var(--heebo);
    font-style: italic;
    padding-top: 10px;
    padding-right: 10px;
}

/* #### reservation #### */
 

.reservation .reservation-video {
    background: url(../images/video.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}
.reservation .reservation-video .play{
    background-color: orange;
    height: 100px;
    width: 100px;
    /* position: absolute; */
    
    border-radius: 50%;
    top: 200px;
    left: 230px;
}
.reservation .reservation-video .play i{
    font-size: 35px;
    color: black;
    margin-left: 30px;;
    margin-top: 32px;
}


.reservation .reservation-form{
    padding: 45px;
    background-color: #0F172B;
    
}
.reservation .reservation-form .reservation-header h4{
    margin-bottom: 8px;
    font-size: 20px;
    font-family: var(--pacifico);
    color: orange;
    position: relative;
}
.reservation .reservation-form .reservation-header h4::after{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    top: 20px;
    left: 115px;
    right: 0;
    background-color: orange;

}



.reservation .reservation-form .reservation-header h2{
    margin-bottom: 24px;
    font-size: 40px;
    font-family: var(--nunito);
    color: white;
    
}
.reservation .reservation-form .form-detail textarea{
    padding: 16px 10px;
    margin-bottom: 20px; 
    width: 100%;
    
    
    
}
.reservation .reservation-form .form-detail .col-6{
    padding: 0 8px;
}


.reservation .reservation-form .form-detail input
{
    padding: 16px 20px;
    margin-bottom: 20px;
    width: 100%;
    
    
}
.reservation .reservation-form .form-detail select{
    padding: 16px 12px;
    width: 100%;
}
.reservation .reservation-form .form-detail button {
    padding: 16px 12px;
    font-size: 16px;
    font-family: var(--nunito);
    background-color: orange;
    color: white;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
}

/* #### member #### */

    
.member .container{
    padding-bottom: 70px;
    
}

.member .header{
    margin-top: 40px;
    text-align: center;

}


.member .header h4{
    margin-bottom: 8px;
    font-size: 20px;
    font-family: var(--pacifico);
    color: orange;
    position: relative;
    display: inline-block;
}

.member .header h4::before{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    background-color: orange;
    top: 21px;
    /* right: 0; */
    left: -55px;
}
.member .header h4::after{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    background-color: orange;
    top: 21px;
    right: -55px;
    
}
.member .header h2{
    margin-bottom: 48px;
    font: 40px var(--nunito);
    font-weight: 800;
}


.member .members-card .members-box {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 10px;
        text-align: center;
        height: calc(100% - 50px);
        overflow: hidden;

        
        

}
.member .members-card .members-box:hover{
    height: 100%;
    transition: 1s;
    

}


.member .members-card .members-box h5{
    font: 20px var(--nunito);
}

.member .members-card .members-box h3{
    font: 14px var(--nunito);
    margin-bottom: 8px;
}
.member .members-card .members-img img{
    padding: 10px;
    border-radius: 50%;

}
.member .members-box .member-social{
    justify-content: center;
    transition: 0.5s;
    
}


.member .member-social .icon {
    padding: 13px;
    background-color: orange;
    margin: 2px;
    margin-bottom: -20px;
    border-radius: 21px 21px 0 0;
    
    
    

}
.member .member-social .icon i{
 margin-top: 2px;   
 color: white;
}

/* #### clients #### */

.clients .header{
    text-align: center;
    
}
.clients .container{
    /* background-color: rgb(252, 249, 249); */
    margin-bottom: 100px;
}

.clients .header h5{
    font-size: 20px;
    font-family: var(--pacifico);
    color: orange;
    margin-bottom: 8px;
    position: relative;
    display: inline-block;

}

.clients .header h5::before{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    top: 22px;
    left: -55px;
    /* right: ; */
    background-color: orange;
}
.clients .header h5::after{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    top: 22px;
    right: -55px;
    background-color: orange;
}

.clients .header h2{
    font-size: 40px;
    font-family: var(--nunito);
    margin-bottom: 48px;
}


.client-opinion .box{
border: 1px solid #dee2e6;
    margin: 12px;
}
.client-opinion .box:hover{
    background-color: orange;
}
.client-opinion .box:hover i{
    color: white;
}
.client-opinion .box:hover p{
    color: white;
}
.client-opinion .box:hover h5{
    color: white
}


.clients .client-opinion i{
    color: orange;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 8px;
}
.clients .client-opinion p{
    font-size: 16px;
    color: gray;
    font-family: var(--heebo);
    margin-left: 20px;
    margin-bottom: 10px;
}

.clients .client-opinion .img img{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}
.clients .client-opinion .img .profession{
    flex-direction: column;
}
.clients .client-opinion .img .profession h5{
    font-size: 20px;
    font-family: var(--nunito);
    margin-left: 20px;
    margin-bottom: 5px;
}
.clients .client-opinion .img .profession h6{
    font-size: 14px;
    font-family: var(--heebo);
    margin-left: 20px;
    color: gray;
}

/* #### footer #### */

footer .container{
    background-color: #0F172B;
    
    padding: 12px;
    
    
    
}
footer .container .border {
    border-bottom: 1px solid gray;
    
}


footer .container .service{
    margin: 40px 0;
    display: inline-block;
    
}
footer .container .service h4{
    font-family: var(--pacifico);
    font-weight: 400;
    font-size: 24px;
    color: orange;
    margin-bottom: 8px;
    position: relative;
    
}
footer .container .service h4::after{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    top: 23px;
    /* right: ; */
    left: 100px;
    background-color: orange;
}
footer .container .service a{
    margin-bottom: 8px;
    color: white;

}
footer .container .contact{
    margin-top: 40px;
    display: inline-block;
}
footer .container .contact h4{
    color: orange;
    font-size: 24px;
    font-family: var(--pacifico);
    font-weight: 400;
    position: relative;
    margin-bottom: 10px;
}
footer .container .contact h4::after{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    top: 23px;
    /* right: ; */
    left: 100px;
    background-color: orange;
}
footer .container .contact p{
    color: white;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: var(--heebo);
}
footer .container .contact .icons i{
    color: white;
    margin: 5px;
    border: 1px solid white;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 35px;
}
footer .container .contact .icons .twitter i:hover{
    color: orange;
    background-color: white;
    transition: 0.5s;
}
footer .container .contact .icons .facebook i:hover{
    color: orange;
    background-color: white;
        transition: 0.5s;

}
footer .container .contact .icons .youtube i:hover{
    color: orange;
    background-color: white;
        transition: 0.5s;

}
footer .container .contact .icons .linkedin i:hover{
    color: orange;
    background-color: white;
        transition: 0.5s;

}
footer .container .timing{
    margin-left: 20px;
    display: inline-block;
}
footer .container .timing h4{
    margin-top: 40px;
    font-size: 24px;
    color: orange;
    font-family: var(--pacifico);
    font-weight: 400;
    position: relative;
}
footer .container .timing h4::after{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    top: 23px;
    /* right: ; */
    left: 100px;
    background-color: orange;

}
footer .container .timing h5{
    margin-bottom: 8px;
    font-size: 20px;
    font-family: var(--nunito);
    color: white;
}

footer .container .timing p{
    margin-bottom: 16px;
    font-family: var(--heebo);
    font-size: 16px;
    color: white;
}
footer .container .newsletter{
    display: inline-block;
}

footer .container .newsletter h4{
    margin-top: 40px;
    font-size: 24px;
    color: orange;
    font-family: var(--pacifico);
    font-weight: 400;
    position: relative;
    margin-bottom: 24px;
    
}
footer .container .newsletter h4::after{
    content: "";
    height: 2px;
    width: 45px;
    position: absolute;
    top: 23px;

    left: 125px;
    background-color: orange;
}
footer .container .newsletter p{
    margin-bottom: 16px;
    font-size: 16px;
    font-family: var(--heebo);
    color: white;
}
footer .container .newsletter .mail{
    position: relative;
    /* display: inline-block; */
}

footer .container .newsletter .mail input{
    padding: 16px 12px 16px 12px;
    width: 100%;
    
    
    
}
footer .container .newsletter .mail a{
    position: absolute;
    right: 10PX;
    top: 7px;
    padding: 6px 12px;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-family: var(--nunito); 
}

footer .container .copyright{
    width: 100%;
    
}
footer .container .subfooter .site{
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 16px;
    font-family: var(--heebo);
    
}
footer .container .copyright .subfooter .site a{
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 18px;
}

footer .container .copyright .help{
    /* margin-right: 600px; */
    text-align: end;
    margin-top: 50px;
    
}
footer .container .copyright .help a{
    padding: 4px 12px;
    color: white;
    font-size: 15px;
    font-family: var(--heebo);
    border-right: 1px solid gray;
    
}
footer .copyright + a{
    background-color: orange;
    padding: 15px;
    position: fixed;
    top: 600px;
    right: 130px;
    color: white;
    
}
